<div id="my">
    <h1>MY PAGE</h1>
    <div class="list-group">
        <div class="list-group-item">ID</div>
        <div class="list-group-item"><%=id %></div>
    </div>
    <div class="list-group">
        <div class="list-group-item">NAME</div>
        <div class="list-group-item"><%=name %></div>
    </div>
    <div class="list-group">
        <div class="list-group-item">GENDER</div>
        <div class="list-group-item"><%=sex %></div>
    </div>
    <div class="list-group">
        <div class="list-group-item">BIRTH</div>
        <div class="list-group-item"><%=birth %></div>
    </div>
    <div class="list-group">
        <div class="list-group-item">E-MAIL</div>
        <div class="list-group-item"><%=email %></div>
    </div>
</div>